.banner {
  text-align: center;
  background-color: #ff080a;
  background-image: linear-gradient(43deg, #ff080a 1%, #c71f27 99%);
  margin-top: -20px !important ;
  height: 300px;
  width: 100%;
}
.banner h2 {
  color: white;
  position: relative;
  top: 80px;
}
.banner p {
  margin-top: 100px;
  color: white;
  font-size: 16px;
}
.banner button {
  margin-top: 40px;
}
.card {
  margin-top: 50px;
  border: 0.5px solid grey 0.7;
  border-radius: 20px;
  width: 45%;
  height: 160px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.card h4 {
  font-size: 22px;
}
small {
  float: left;
  font-size: 18px;
  margin-top: 30px;
}
.heart {
  color: #c71f27;
  margin-right: 15px;
}
.find {
  font-size: 20px;
  float: right;
  margin-top: 70px;
}

@media (max-width: 1129px) {
  .card {
    height: 300px;
  }
}
@media (max-width:830px){
  .card-body h4{
    font-size:16px;
  }
  .card-body p{
    font-size:11px;
  }
  .find{
    font-size:12px;
  }
}